<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/GarageTop/styles/template.css">
    <link rel="stylesheet" href="/GarageTop/styles/car.css">
    <title>Document</title>
</head>

<body>
    <header id="home">
        <a href="/GarageTop/views/index.html"><img src="/GarageTop/images/logo-white.png" alt="Logo"></a>
        <!-- /GarageTop/images/logo-white.png -->

        <div class="header-button-container">
            <a id="link_login" href="/GarageTop/views/login.html"><button id="login-button">Login</button></a>
            <!-- /GarageTop/views/login.html -->
            <script>
                if (document.cookie.includes(":")) {

                    const cookieValue = document.cookie;
                    const email = document.cookie.split('=')[1].split(':')[0];
    
                    document.querySelector('#link_login').remove();
                    document.write(`${email}   `);
                    document.write(`<button id="login-button" onclick="logout()">Logout</button>`);

                    function logout() {
                        document.cookie = "loginInfo=; expires=Thu, 01 Jan 1970 00:00:00 UTC;";
                        location.reload();
                    }
                }
            </script>
        </div>
    </header>

    <nav-bar>
        <nav>
            <ul> 
                <li><a href="/GarageTop/views/index.html">Home</a></li>
                <li><a href="#contacto">Contacto</a></li>
                <li><a href="/GarageTop/views/cars.html">Pesquisar</a></li>
            </ul>
        </nav>

        <nav-mask>
            <div class="nav-mask"></div>
        </nav-mask>
    </nav-bar>

    <div class="car-card-container">
        <div class="car-card-container-flex">
            <div class="image-container">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
                <script type="module">
                    import { getCarIdx } from "/GarageTop/js/getCar.js";

                    async function loadCar() {
                        const urlParams = new URLSearchParams(window.location.search);
                        const idx = urlParams.get('idx');
                        const car = await getCarIdx(idx);

                        window.imgIdx = car.Img.split("/")[4].split("f")[1];

                        document.querySelector(".card-image").src = car.Img;
                        document.querySelector(".card-car-name").innerHTML = car.Make + ' ' + car.Model;
                        document.querySelector(".card-car-info").innerHTML = car.Kilometer + 'km | Lotação máx: ' + car.SeatingCapacity + ' | Cor: ' + car.Color + ' | ' + car.Engine;
                        document.querySelector(".card-car-price").innerHTML = car.Price / 100 + '€';

                        //Specs
                        document.querySelector(".make").innerHTML = car.Make;
                        document.querySelector(".model").innerHTML = car.Model;
                        document.querySelector(".price").innerHTML = car.Price / 100 + '€';
                        document.querySelector(".year").innerHTML = car.Year;
                        document.querySelector(".kilometer").innerHTML = car.Kilometer + 'km';
                        document.querySelector(".fuel-type").innerHTML = car.FuelType;
                        document.querySelector(".transmission").innerHTML = car.Transmission;
                        document.querySelector(".location").innerHTML = car.Location;
                        document.querySelector(".color").innerHTML = car.Color;
                        document.querySelector(".owner").innerHTML = car.Owner;
                        document.querySelector(".engine").innerHTML = car.Engine;
                        document.querySelector(".max-power").innerHTML = car.MaxPower;
                        document.querySelector(".max-torque").innerHTML = car.MaxTorque;
                        document.querySelector(".drivetrain").innerHTML = car.Drivetrain;
                        document.querySelector(".seating-capacity").innerHTML = car.SeatingCapacity;
                        document.querySelector(".fuel-tank-capacity").innerHTML = car.FuelTankCapacity;
                    }

                    loadCar();

                </script>
                <script src="/GarageTop/js/imageLoader.js" type="module"></script>
                <script type="module">
                    import imageLoader from "/GarageTop/js/imageLoader.js";
                    import {loadCSV} from "/GarageTop/js/csvLoader.js";

                    const urlParams = new URLSearchParams(window.location.search);
                    const idx = urlParams.get('idx');

                    async function runImageLoader(idx) {
                        return await loadCSV().then(data => {
                            return imageLoader(data, idx);;
                        });
                    }

                    let imageList = await runImageLoader(idx);

                    if(imageList.length == 0) {
                        document.querySelector(".leftBtn").style.display = "block";
                        document.querySelector(".rightBtn").style.display = "block";
                    }

                    // window.imgIdx = 0;
                    console.log(window.imgIdx)

                    window.imageArrow = 0;

                    window.leftImage =function leftImage() {
                        console.log("previous image");
                        imageArrow = 2;
                        document.querySelector(".loading").style.zIndex = "0";
                        if(imgIdx == 0) {
                            imgIdx = imageList.length - 1;
                        } else {
                            imgIdx--;
                        }
                        
                        console.log(imageList[imgIdx]);
                        document.querySelector(".card-image").src = imageList[imgIdx];
                    }

                    window.rightImage =function rightImage() {
                        console.log("next image");
                        imageArrow = 1;
                        document.querySelector(".loading").style.zIndex = "0";
                        if(imgIdx == imageList.length - 1) {
                            imgIdx = 0;
                        } else {
                            imgIdx++;
                        }

                        console.log(imageList[imgIdx]);
                        document.querySelector(".card-image").src = imageList[imgIdx];
                    }
                </script>

                <img class="card-image" src="/GarageTop/images/cars/amg-gt.png" alt="default img" onerror="if(imageArrow == 1) {rightImage()} else {leftImage()}" onload="document.querySelector('.loading').style.zIndex = '-1'">
                <img class="loading card-image" src="/GarageTop/images/loadingGif.gif" alt="loading animation">
                <button class="leftBtn" onclick="leftImage()">&lt;</button>
                <button class="rightBtn" onclick="rightImage()">&gt;</button>
                
            </div>

            <div class="car-all-info-container">
                <div class="card-car-name">Mercedez-AMG GT Coupé</div>
                <br>
                <div class="car-info-container">
                    <div class="card-car-info">577HP | 3 Portas | Gasolina | Automatico</div>
                </div>
                <div class="card-car-price">230.000€</div>
            </div>
        </div>
        <ul class="car-card-more-info">
            <li>
                <span>Marca: </span><span class="make more-info"></span>
            </li>
            <li>
                <span>Modelo: </span><span class="model more-info"></span>
            </li>
            <li>
                <span>Preço: </span><span class="price more-info"></span>
            </li>
            <li>
                <span>Ano: </span><span class="year more-info"></span>
            </li>
            <li>
                <span>Quilómetros: </span><span class="kilometer more-info"></span>
            </li>
            <li>
                <span>Combustível: </span><span class="fuel-type more-info"></span>
            </li>
            <li>
                <span>Transmissão: </span><span class="transmission more-info"></span>
            </li>
            <li>
                <span>Localização: </span><span class="location more-info"></span>
            </li>
            <li>
                <span>Cor: </span><span class="color more-info"></span>
            </li>
            <li>
                <span>Proprietário: </span><span class="owner more-info"></span>
            </li>
            <li>
                <span>Motor: </span><span class="engine more-info"></span>
            </li>
            <li>
                <span>Potência Máxima: </span><span class="max-power more-info"></span>
            </li>
            <li>
                <span>Torque Máximo: </span><span class="max-torque more-info"></span>
            </li>
            <li>
                <span>Tração: </span><span class="drivetrain more-info"></span>
            </li>
            <li>
                <span>Lotação: </span><span class="seating-capacity more-info"></span>
            </li>
            <li>
                <span>Capacidade de Combustível: </span><span class="fuel-tank-capacity more-info"></span>
            </li>
        </ul>
    </div>

    <footer id="contacto">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7840.022484374243!2d-9.114695220097833!3d38.76551585301935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1933556a87e12f%3A0xe30bc791b6590d69!2sCGI!5e0!3m2!1spt-PT!2spt!4v1701859007818!5m2!1spt-PT!2spt"
            width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>

        <div class="info-contato">
            <p>Telefone: (XX) XXXX-XXXX</p>
            <p>E-mail: contato@nomedarevenda.com</p>
            <p>Endereço: Rua Fictícia, 1234, Cidade Fictícia, Estado</p>
            <p>Horário de Funcionamento: Segunda a Sexta, das 9h às 18h; Sábado, das 9h às 14h</p>
            <p>Redes Sociais:
                <a href="https://www.instagram.com/nomedarevenda" target="_blank">@nomedarevenda
                </a> |
                <a href="https://www.facebook.com/nomedarevenda" target="_blank">/nomedarevenda
                </a>
            </p>
        </div>

        <div class="footer-copyright">
            <p>&copy; 2023 Concessionária XYZ</p>
        </div>
    </footer>

</html>