<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/template.css">
    <link rel="stylesheet" href="/styles/car.css">
    <title>Document</title>
</head>

<body>
    <header id="home">
        <a href="/views/index.html"><img src="/images/logo-white.png" alt="Logo"></a>
        <!-- /GarageTop/images/logo-white.png -->

        <div class="header-button-container">
            <a href="/views/login.html"><button id="login-button">Login</button></a>
            <!-- /GarageTop/views/login.html -->
        </div>
    </header>

    <nav-bar>
        <nav>
            <ul>
                <a href="#home">
                    <li>Home</li>
                </a>
                <a href="#veiculos">
                    <li>Veículos</li>
                </a>
                <a href="#contacto">
                    <li>Contacto</li>
                </a>
                <a href="/views/cars.html">
                    <li>Pesquisar</li>
                </a>
            </ul>
        </nav>

        <nav-mask>
            <div class="nav-mask"></div>
        </nav-mask>
    </nav-bar>
    
    <div class="car-card-container">
        <div class="car-card-container-flex">
            <a href="https://www.google.com " target="_blank">
                <img class="card-image" src="/images/cars/amg-gt.png">

            </a>
            <div class="car-all-info-container">
                <div class="card-car-name">Mercedez-AMG GT Coupé</div>
                <br>
                <div class="car-info-container">
                    <div class="card-car-info">577HP | 3 Portas | Gasolina | Automatico</div>
                </div>
                <div class="card-car-price">230.000€</div>
            </div>
        </div>
        <div class="discription-car">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ex officiis quaerat consequuntur,  voluptate nobis animi cumque eligendi alias magnam veniam accusantium unde itaque, nemo delectus quidem explicabo quae vitae aperiam placeat. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam perspiciatis inventore officiis nemo hic iste provident autem ipsum repellendus, magni quo tempora et sint voluptatem quisquam ipsam odio corrupti nostrum? lore
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia aliquam recusandae fuga delectus at, assumenda ducimus nihil. Minus repellendus doloribus deleniti ipsum quis rem harum. Distinctio facere voluptas inventore eveniet!
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script type="module">
        import { getCarIdx } from "/js/getCar.js";
    
        async function loadCar() {
            const urlParams = new URLSearchParams(window.location.search);
            const idx = urlParams.get('idx');

            const car = await getCarIdx(idx);

            document.querySelector(".card-image").src = car.Img;
            document.querySelector(".card-car-name").innerHTML = car.Make + ' ' + car.Model;
            document.querySelector(".card-car-info").innerHTML = car.Kilometer + 'km | Lotação máx: ' + car.SeatingCapacity + ' | Cor: ' + car.Color + ' | ' + car.Engine;
            document.querySelector(".card-car-price").innerHTML = car.Price / 100 + '€';
        }
        
        loadCar();
       
    </script>

    </div>

</html>