<!DOCTYPE html> <!-- https://andresalier11.github.io/GarageTop/views/ -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0 , minimum-scale=1.0 , maximum-scale=1.0" />
    <title>GarageTop - Carros</title>
    <link rel="stylesheet" href="/styles/style.css"> <!-- /GarageTop/styles/style.css -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/logo-white.png"> <!-- /GarageTop/images/logo-white.png -->
</head>

<body>
    <header id="home">
        <img src="/images/logo-white.png" alt="Logo"> <!-- /GarageTop/images/logo-white.png -->

        <div class="header-button-container">
            <button id="login-button" onclick="alert('Login!')">Login</button>
        </div>
    </header>

    <nav-bar>
        <nav>
            <ul>
                <a href="#home">
                    <li>Home</li>
                </a>
                <a href="#veiculos">
                    <li>Veículos</li>
                </a>
                <a href="#contacto">
                    <li>Contacto</li>
                </a>
            </ul>
        </nav>

        <nav-mask>
            <div class="nav-mask"></div>
        </nav-mask>
    </nav-bar>

    <section>

    </section>

    <footer id="contacto">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7840.022484374243!2d-9.114695220097833!3d38.76551585301935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1933556a87e12f%3A0xe30bc791b6590d69!2sCGI!5e0!3m2!1spt-PT!2spt!4v1701859007818!5m2!1spt-PT!2spt"
            width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>

        <div class="info-contato">
            <p>Telefone: (XX) XXXX-XXXX</p>
            <p>E-mail: contato@nomedarevenda.com</p>
            <p>Endereço: Rua Fictícia, 1234, Cidade Fictícia, Estado</p>
            <p>Horário de Funcionamento: Segunda a Sexta, das 9h às 18h; Sábado, das 9h às 14h</p>
            <p>Redes Sociais:
                <a href="https://www.instagram.com/nomedarevenda" target="_blank">@nomedarevenda
                </a> |
                <a href="https://www.facebook.com/nomedarevenda" target="_blank">/nomedarevenda
                </a>
            </p>
        </div>
        
        <div class="footer-copyright">
            <p>&copy; 2023 Concessionária XYZ</p>
        </div>
    </footer>

    <script src="scripts.js"></script>
</body>

</html>