<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Concessionária</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <header>
        <h1>LOGO</h1> <!-- Ou Nome -->

        <div class="header-button-container">
            <button onclick="alert('Login!')">Login</button>
        </div>
    </header>
    
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#veiculos">Veículos</a></li>
            <li><a href="#servicos">Serviços</a></li>
            <li><a href="#contato">Contato</a></li>
        </ul>
    </nav>

    <div>
        <div class="home-img-container">
            <img class="imageHome"src="/images/home_wallpaper.avif">
        </div>
    </div>

    <section id="home">
        <h2 class="home-title">Bem-vindo à Concessionária XYZ</h2>
        <!-- Conteúdo da página inicial -->
    </section>

    <section id="veiculos">
        <h2 class="home-title">Os Nossos Veículos</h2>
        <!-- Lista de veículos disponíveis -->
    </section>

    <section id="servicos">
        <h2 class="home-title">Os Nossos Serviços</h2>
        <!-- Descrição dos serviços oferecidos -->
    </section>

    <section id="contato">
        <h2 class="home-title">Entre em Contato</h2>
        <!-- Formulário de contato -->
    </section>

    <footer>
        <p>&copy; 2023 Concessionária XYZ</p>
    </footer>

    <script src="scripts.js"></script>
</body>
</html>