html {
    font-family: Arial, sans-serif;
    height: 100%
}

body {
    position: relative;
    max-width: 100%;
    min-height: 100%;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    position: relative;
    z-index: 3;
}

    header img {
        width: 100px;
    }

nav, nav-mask {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: calc(100% - 20px);
    top: 20px;
    z-index: 4;
    pointer-events: none;
}

nav-mask {
    z-index: 2;
}

    .nav-mask {
        background-color: #333;
        z-index: 1;
        width: calc(100vw - 10px);
        height: 40px;
        position: sticky;
        top: -1px;
    }

    nav ul {
        z-index: 2;
        background-color: #333;
        border-radius: 20px;
        width: fit-content;
        list-style: none;
        position: sticky;
        top: 5px;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
    }

        nav ul li {
            display: inline-block;
            padding: 15px;
            color: #fff;
            pointer-events: all;

        }

        nav ul a li:hover {
            background-color: #565656;
            border-radius: 20px;
        }

            nav ul a {
                text-decoration: none;
            }
    
    .header-button-container button {
        font-size: 1.5em;
        /* background-color: rgb(3, 135, 167); */
        background-color: whitesmoke;
        color: white;
        padding: 10px 20px;
        border-radius: 50px;
        border: 0;
        cursor: pointer;
    }
    #login-button{
        color:black;
    }

.home-img-container {
    position: relative;
    height: fit-content;
    padding-top: 20px;
}

    .imageHome{
        width: 100%;
    }

    .home-img-container h1,
    .home-img-container h2 {
        color: white;
        font-family: "Ubuntu", Arial, Helvetica, sans-serif;
        position: absolute;
        left: 10vw;
        text-shadow: 2px 2px 3px black;
    }

    .home-img-container h1 {
        bottom: 10vw;
        font-size: 4vw;
    }

    .home-img-container h2 {
        bottom: 7vw;
        font-size: 3vw;
    }

  
.containerImageCrop{
    z-index: 10;
    height: 30vh;
}

.cropImageTop{
    height: 100px;
    position: absolute;
    background-color: red;
}

.cropImagebottom{
    height: 100px;
    position: absolute;
    background-color: red;
}

section {
    padding: 20px;
    padding-top: 75px;
    margin: 10px;
}

    #veiculos {
        height: calc(100vh - 105px);
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

.car-cards-container {
    width: 100%;
}

.car-cards-container ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    padding: 0;
    padding-bottom: 10px;
}
<<<<<<< Updated upstream

    .car-cards-container ul li {
        margin: 15px;
        padding: 15px;
        background-color: #333;
=======
.car-info-container{
    width: 100%;
    font-size: 0.8em;
    margin: 10px 0px 10px 0px;
}
.card-car-price{
    font-size: 1.6em;
    text-align: end;
    
}
.car-cards-container ul li {
    margin: 20px;
    padding: 15px;
    height: fit-content;
    width: min-content;
    background-color: #333;
    border-radius: 15px;
>>>>>>> Stashed changes
        color: white;
        transition: margin 1s, padding 1s, border-radius 1s;
        box-sizing: border-box;
    }

    .car-cards-container ul:hover li {
        margin: 25px;
        padding: 5px;
        border-radius: 5px;
    }

        .car-cards-container ul li:hover {
            margin: 15px;
            padding: 15px;
            border-radius: 10px;
            cursor: pointer;
        }

<<<<<<< Updated upstream
=======
.card-image {
    border-radius: 15px;
    object-fit: cover;
    background-color: rgb(226, 226, 226);
    max-width: 200px;
}

>>>>>>> Stashed changes
.info-contato {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
}

.info-contato h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.info-contato p {
    font-size: 16px;
    margin-bottom: 30   px;
}

.info-contato a {
    text-decoration: none;
    color: white;
}

    .home-title {
        font-size: 2em;
        font-family: "Ubuntu", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 10px;
        color: black;
        width: fit-content;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    /* width: 100%; */
    height: 55%;
}

    .footer-copyright {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

/* Scroll Bar */

::-webkit-scrollbar { /* width */
    width: 10px;
}

    ::-webkit-scrollbar-track { /* Track */
        background: #f1f1f1; 
        
    }

    ::-webkit-scrollbar-thumb { /* Handle */
        background: #888; 
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover { /* Handle on hover */
        background: #555; 
    }
