html {
    font-family: Arial, sans-serif;
    height: 100%
}

body {
    position: relative;
    max-width: 100%;
    min-height: 100%;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: relative;
}

nav {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: calc(100% - 35px);
    top: 35px;
    z-index: 100;
}

    nav ul {
        background-color: #333;
        border-radius: 20px;
        width: fit-content;
        list-style: none;
        /* display: flex; */
        justify-content: center;
        position: sticky;
        top: 5px;
        padding: 5px;
        margin: 0;
    }

        nav ul li {
            display: inline-block;
            padding: 15px;
        }

        nav ul li:hover {
            background-color: #565656;
            border-radius: 20px;
        }

            nav ul li a {
                color: #fff;
                text-decoration: none;
            }
    
    .header-button-container button {
        font-size: 1.5em;
        background-color: rgb(3, 135, 167);
        color: white;
        padding: 10px 20px;
        border-radius: 50px;
        border: 0;
        cursor: pointer;
    }

.home-img-container {
    position: relative;
    display: flex;
}

    .imageHome{
        position: absolute;
        top: -8vw;
        width: 100%;
        z-index: -1;
        opacity: 50%;
        overflow: hidden;
    }

    .overlay-div {
        position: absolute;
        z-index: 4;
        height: 100px;
        width: 100px;
        top: 500px; 
        left: 50px;
        background-color: red; 
    }
  
.containerImageCrop{
    z-index: 10;
    height: 30vh;
}

.cropImageTop{
    height: 100px;
    position: absolute;
    background-color: red;
}

.cropImagebottom{
    height: 100px;
    position: absolute;
    background-color: red;
}

section {
    padding: 10px;
    padding-top: 75px;
    margin: 10px;
    padding-bottom: 500px; /* content simulado */
}

    .home-title {
        font-size: 1.5em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #333333b3;
        border-radius: 10px;
        color: #ffffffe9;
        text-align: center;
        width: fit-content;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Scroll Bar */

::-webkit-scrollbar { /* width */
    width: 10px;
}

    ::-webkit-scrollbar-track { /* Track */
        background: #f1f1f1; 
    }

    ::-webkit-scrollbar-thumb { /* Handle */
        background: #888; 
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover { /* Handle on hover */
        background: #555; 
    }
